include ../_ui/program-card/program-card
include ../_ui/input/input
include ../_ui/select/select
include ../_ui/button/button

mixin program
  section.program.container
    .wrapper
      form.program__filters(action="")
        p.program__filters-head Ищу программу
        +select('category', 'Выберите категорию', 'program__filters-select', false, [{value: '1', label: 'Пожарная безопасность'}, {value: '2', label: 'Экологичекая безопасность'}, {value: '3', label: 'Безопасность дорожного движения'}, {value: '4', label: 'Дорожная перевозка опасных грузов - ДОПОГ'}])
        +input('text', 'searschQuery', 'детальный поиск', 'program__filters-input')
        +button-fill('submit', 'Найти', '', 'program__filters-btn', false, true)
      .program__grid
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей и специалистов организаций', 'Для руководителей организаций и подразделений, ответственных за охрану труда, рабочих.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей подразделений пожароопасных производств', 'Для членов комиссии.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для газоэлектросварщиков', 'Руководителей и специалистов, осуществляющих эксплуатацию и безопасное обслуживание тепловых энергоустановок, а так же лиц, ответственных за безопасную эксплуатацию тепловых энергоустановок.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для рабочих, осуществляющих пожароопасные работы', 'Для работников автотранспортных организаций (АТП), автотранспортных цехов, участков иных организаций, предоставляющих услуги по техническому обслуживанию, ремонту и проверке технического состояния автотранспортных средств, а также на предпринимателей, осуществляющих перевозки грузов и пассажиров.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для сотрудников, осуществляющих круглосуточную охрану организаций', 'Для уполномоченных (доверенных) лиц по охране труда профессиональных союзов и иных уполномоченных работниками представительных органов.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей и ответственных за пожарную безопасность дошкольных учреждений и общеобразовательных школ', 'Для руководителей организаций, их заместителей, руководителей и специалистов служб охраны труда, инженерно-технических работников организаций и предприятий, а также членов комиссий по проверке знаний требований охраны труда и уполномоченных лиц по охране труда профессиональных союзов.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для воспитателей дошкольных учреждений', 'Для сотрудников, работающих на производстве, для всех педагогических работников (учителей, воспитателей, преподавателей, руководителей учебных заведений и проч.)', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для воспитателей дошкольных учреждений', 'Для сотрудников, работающих на производстве, для всех педагогических работников (учителей, воспитателей, преподавателей, руководителей учебных заведений и проч.)', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей и специалистов организаций', 'Для руководителей организаций и подразделений, ответственных за охрану труда, рабочих.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей подразделений пожароопасных производств', 'Для членов комиссии.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для газоэлектросварщиков', 'Руководителей и специалистов, осуществляющих эксплуатацию и безопасное обслуживание тепловых энергоустановок, а так же лиц, ответственных за безопасную эксплуатацию тепловых энергоустановок.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для рабочих, осуществляющих пожароопасные работы', 'Для работников автотранспортных организаций (АТП), автотранспортных цехов, участков иных организаций, предоставляющих услуги по техническому обслуживанию, ремонту и проверке технического состояния автотранспортных средств, а также на предпринимателей, осуществляющих перевозки грузов и пассажиров.', false, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для сотрудников, осуществляющих круглосуточную охрану организаций', 'Для уполномоченных (доверенных) лиц по охране труда профессиональных союзов и иных уполномоченных работниками представительных органов.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей и ответственных за пожарную безопасность дошкольных учреждений и общеобразовательных школ', 'Для руководителей организаций, их заместителей, руководителей и специалистов служб охраны труда, инженерно-технических работников организаций и предприятий, а также членов комиссий по проверке знаний требований охраны труда и уполномоченных лиц по охране труда профессиональных союзов.', true, '1300')
        +program-card('Пожарная безопасность', 'Пожарно-технический минимум для воспитателей дошкольных учреждений', 'Для сотрудников, работающих на производстве, для всех педагогических работников (учителей, воспитателей, преподавателей, руководителей учебных заведений и проч.)', false, '1300')