mixin footer
  footer.footer.container
    .wrapper
      .footer__logo
        include assets/logo.svg
      .footer__grid
        .footer__col
          a.link(href="#") Об институте
        .footer__col
          p.footer__office офис в Москве
          p.footer__address 129626, Москва, пер. Кулаков 9А, стр 1, <br>офис 118 
          p.footer__tel 8 (495) 098-04-74
          a.link(href="mailto:msk@ttristika.ru") msk@ttristika.ru
        .footer__col
          p.footer__office офис в Хабаровске
          p.footer__address 680021, Хабаровск, ул. Ленинградская 53 к1, <br>офис 313 
          p.footer__tel 8 (800) 555-35-59
          a.link(href="mailto:sales@ttristika.ru") sales@ttristika.ru
      .footer__copyright
        .footer__copyright-block
          p.footer__copy &copy;2019, Т_Тристика.
          a.footer__policy(href="#") Политика конфиденциальности
        p.footer__design Дизайн - студия Арбуз