include ../_ui/section-heading/section-heading
include ../_ui/section-subheading/section-subheading
include ../documents/documents
include ../_ui/form-card/form-card
include ../_ui/staff-card/staff-card
include ../callback/callback

mixin teachers
  section.teachers-main.container
    .wrapper
      .module
        main.module__main
          h1.teachers-main__heading Преподаватели
          p.teachers-main__desc Помогаем бизнесу спокойно заниматься своей работой, не переживать о безопасности сотрудников и забыть о проверках и штрафах. Наша мечта — превратить «обязаловку» в интересное обучение, которое приносит пользу: работники знают, что делать в экстренных случаях, а у руководителей не дёргается глаз перед проверками. Хотим,  чтобы люди учились не ради корочек, а ради современных знаний, которые спасают жизни и берегут нервы.
        aside.module__aside.module__aside--hide
          p.teachers-main__aside Хотите работать у нас? <br>Отправляйте резюме на почту:
          a.link(href="mailto:info@ttristika.ru") info@ttristika.ru
      .teachers-staff__block
        +staff-card('staff-1.jpg', 'Попов Алексей Борисович', 'Высшее образование, кандидат экономических наук, доцент', 18, ['Кадровый менеджмент', 'Финансовый менеджмент', 'Производственный менеджмент', 'Экономика предприятия'])
        +staff-card('staff-4.jpg', 'Фёдоров Константин Станиславович', 'Высшее образование, кандидат экономических наук, доцент', 15, ['Кадровый менеджмент', 'Гражданская оборона и защита населения от&nbsp;ЧС'])
        +staff-card('staff-3.jpg', 'Карепов Максим Сергеевич', 'Высшее образование, кандидат экономических наук, доцент', 18, ['Кадровый менеджмент'])
        +staff-card('staff-1.jpg', 'Попов Алексей Борисович', 'Высшее образование, кандидат экономических наук, доцент', 18, ['Кадровый менеджмент', 'Финансовый менеджмент', 'Производственный менеджмент', 'Экономика предприятия'])
        +staff-card('staff-1.jpg', 'Попов Алексей Борисович', 'Высшее образование, кандидат экономических наук, доцент', 18, ['Кадровый менеджмент', 'Финансовый менеджмент', 'Производственный менеджмент', 'Экономика предприятия'])
        +staff-card('staff-4.jpg', 'Фёдоров Константин Станиславович', 'Высшее образование, кандидат экономических наук, доцент', 15, ['Кадровый менеджмент', 'Гражданская оборона и защита населения от&nbsp;ЧС'])
        +staff-card('staff-3.jpg', 'Карепов Максим Сергеевич', 'Высшее образование, кандидат экономических наук, доцент', 18, ['Кадровый менеджмент'])

  section.teachers-partner.container
    .wrapper
      p.teachers-partner__head Хотите работать у нас? <br>Отправляйте резюме на почту:
      a.link(href="mailto:info@ttristika.ru") info@ttristika.ru

  +callback