doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title т_тристика
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      .container
        .wrapper
          ol
            li
              a.link(href="main.html") Главная
            li
              a.link(href="program.html") Обучение персонала – Программы
            li
              a.link(href="program-detail.html") Обучение персонала – Программа (деталка)
            li
              a.link(href="about.html") Об институте
            li
              a.link(href="teachers.html") Преподаватели