include ../components/header/header
include ../components/program-detail/program-detail
include ../components/_ui/program-card/program-card
include ../components/_ui/section-heading/section-heading
include ../components/footer/footer
include ../components/_ui/popup/popup

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title т_тристика
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header('staff', 'program')
      +program-detail
      section.program-detail-courses.container
        .wrapper
          +section-heading('Рекомендуем другие курсы')
          .program__grid
            +program-card('Пожарная безопасность', 'Пожарно-технический минимум для рабочих, осуществляющих пожароопасные работы', 'Для работников автотранспортных организаций (АТП), автотранспортных цехов, участков иных организаций, предоставляющих услуги по техническому обслуживанию, ремонту и проверке технического состояния автотранспортных средств, а также на предпринимателей, осуществляющих перевозки грузов и пассажиров.', false, '1300')
            +program-card('Пожарная безопасность', 'Пожарно-технический минимум для сотрудников, осуществляющих круглосуточную охрану организаций', 'Для уполномоченных (доверенных) лиц по охране труда профессиональных союзов и иных уполномоченных работниками представительных органов.', true, '1300')
            +program-card('Пожарная безопасность', 'Пожарно-технический минимум для руководителей и ответственных за пожарную безопасность дошкольных учреждений и общеобразовательных школ', 'Для руководителей организаций, их заместителей, руководителей и специалистов служб охраны труда, инженерно-технических работников организаций и предприятий, а также членов комиссий по проверке знаний требований охраны труда и уполномоченных лиц по охране труда профессиональных союзов.', true, '1300')
      +footer
    +popup('request')
    +popup('call')
    +popup('document')